{% extends 'equimolar/base.html' %}
{% block title %}
    {{ config.SITE_NAME }}
{% endblock %}
{% block main %}

    {%- for entry in pagination.items %}
        <div class=entry-overview>
            
            <div class=detail>
                <h1><a href='/{{ entry.slug }}'>{{ entry.title }}</a></h1>
                {% if entry.summary %}
                    <p>{{ entry.summary }} 
                        | Last Modified: {{ blog_date(entry.last_mod_date) }}
                    </p>
                {% endif %}
                
            </div>
        </div>
        <hr>
    {%- endfor %}

    {% include 'equimolar/_pagination.html' %}

{% endblock %}
