{% extends 'equimolar/base.html' %}
{% block title %}
    {{ config.SITE_NAME }}
{% endblock %}

{% block main %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{ msg }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {%- for entry in pagination.items %}
        {% if drafts %}
            <h2>
                <a href='/draft?slug={{ entry.slug }}'>{{ entry.title }}</a>
            </h2>
        {% else %}
            <h2><a href='/{{ entry.slug }}'>{{ entry.title }}</a></h2>
        {% endif %}
        {% if entry.summary %}
            <p>{{ entry.summary }} 
                | Last Modified: {{ blog_date(entry.last_mod_date) }}
            </p>
        {% endif %}
        <hr>
    {%- endfor %}

    {% include 'equimolar/_pagination.html' %}
{% endblock %}
