{% extends 'equimolar/base.html' %}
{% if config.SITE_DESCRIPTION %}
    {% block meta %}
        <meta name="description" content="{{ config.SITE_DESCRIPTION }}">
    {% endblock meta %}
    {% else %}
        <meta name="description" content="{{ config.SITE_NAME }} home page">
{% endif %}
{% block title %}
    {{ config.SITE_NAME }}
{% endblock %}

{% block main %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{ msg }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {%- for entry in pagination.items %}
        {% if drafts %}
            <h3>
                <a href='/draft?slug={{ entry.slug }}'>{{ entry.title }}</a>
            </h3>
        {% else %}
            <h3><a href='/{{ entry.slug }}'>{{ entry.title }}</a></h3>
        {% endif %}
        {% if entry.summary %}
            <p>{{ entry.summary }}
                | Last Modified: {{ blog_date(entry.last_mod_date) }}
            </p>
        {% endif %}
        <hr>
    {%- endfor %}

    {% include 'equimolar/paginationStyle1_Secondary.html' %}
{% endblock %}
