{% extends 'equimolar/base.html' %}
{% block meta %}
    {% include "equimolar/metatags.html" %}
{% endblock meta %}
{% block title %}
    {{ article.title }}
{% endblock %}
{% block main %}
    <h1>{{ article.title }}</h1>
    <h3><small>{{ article.summary }}</small></h3>
    {% if can_edit(current_user, article.authour.first().username) %}
    <button>
        <a href="{{ url_for('writter', article_id=article.id) }}">
        Edit this article</a>
    </button>
    {% endif %}
    <hr>
    {{ article.html_content }}

    {% if article.last_mod_date %}
        <p>
            Last modified on {{ blog_date(article.last_mod_date) }} by 
            {{ article.authour.first().username }}
        </p>
    {% endif %}
    {% if article.tags %}
        {% for tag in article.tags %}
            <button class="btn btn-dark mt-2"><a href="/tag/{{ tag.id }}">
                <span class="row h-100 align-items-center px-2">
                    <i class="material-icons">local_offer</i>
                    {{ tag.name }}
                </span></a>
            </button>
        {% endfor %}
    {% endif %}

{% endblock %}
{% block sidebar %}
    {% if related_articles %}
        <p>Related Posts</p>
        {% for related in related_articles %}
            {% if related.title != article.title %}
                <li><a href="/{{ related.slug }}">{{ related.title }}
                </a></li>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}
